@import "tailwindcss";

@layer theme {
  :root {
    --c-primary: #17890f;
    --c-body: #222;
    --c-background: #fff;
    --c-link: #17890f;
    --c-panel: #fafafa;
  }

  :root {
    @variant dark {
      --c-primary: #105c0a;
      --c-background: #181818;
      --c-body: #eaeaea;
      --c-link: rgba(84, 169, 78, 1);
      --c-panel: #232323;
    }
  }
}

@theme inline {
  --color-primary: var(--c-primary);
  --color-body: var(--c-body);
  --color-background: var(--c-background);
  --color-link: var(--c-link);
  --color-panel: var(--c-panel);
}

body {
  @apply bg-background;
  color: var(--color-body);
  min-height: 100dvh;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial,
    "Noto Sans", "Ubuntu", "Cantarell", "Liberation Sans", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
  letter-spacing: -1px;
}

a {
  color: var(--color-link);
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: color 0.2s;
}

ul {
  margin-bottom: 2rem;
  padding-left: 1.5rem;
}

li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav ul,
nav li {
  margin: 0;
}
